.flex{
    display: flex;
    width: 600px;
    height: 600px;
    background-color: blue;
    align-items: center;
    flex-direction:row;
    justify-content: space-evenly;
    gap: 10px;
}

div{
    width: 60px;
    height: 60px;
    background-color: red;
}